# Environment variables
.env

# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS specific files
.DS_Store
Thumbs.db

# IDE and editor folders
.idea/
.vscode/
*.swp
*.swo
